<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand nav-heading " href="{% url 'shops:AllCatProduct' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-heading" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu">
             {% for each in links %}
               <li><a class="dropdown-item nav-heading " href="{{each.get_url}}"> {{each}} </a></li>
             {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a href=" {% url 'cart:cart_details' %} " class="nav-link "><i class="fa fa-shopping-cart"></i>({{item_count}})</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action=" {% url 'search:SearchFunction'%} " method="get">
        {% csrf_token %}
        <input class="form-control me-2" type="search" name="search_word" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa fa-search "></i></button>
      </form>
    </div>
  </div>
</nav>


